ipython>=4.0.2
pyspark
jupyterhub
oauthenticator
jwt
requests
requests-cache
responses
ipykernel>=4.2.2
notebook>=4.2
tornado>=4
gcsfs==0.6.2
pyarrow>=0.17.*
pandas
google-auth>=1.2
google-auth-oauthlib
ipywidgets